@import url(http://fonts.googleapis.com/css?family=Roboto);
/* line 1, ../sass/index.scss */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  height: 500px;
  margin: auto;
}

/* line 7, ../sass/index.scss */
.carousel-indicators li {
  visibility: hidden;
}

/* line 10, ../sass/index.scss */
.nopadding {
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/index.scss */
.morecontent span {
  display: none;
}

/* line 17, ../sass/index.scss */
.morelink {
  display: block;
}

/* line 20, ../sass/index.scss */
.thumbnail {
  overflow: auto;
  width: 450px;
}

/* line 24, ../sass/index.scss */
.img-gallery {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
  margin-bottom: 20px;
}

/* line 32, ../sass/index.scss */
.img-gallery:hover {
  filter: none;
  /* IE6-9 */
  -webkit-filter: grayscale(0);
  /* Google Chrome, Safari 6+ & Opera 15+ */
  cursor: pointer;
}

/* line 37, ../sass/index.scss */
.carousel-control.left, .carousel-control.right {
  background-image: none;
}

/* line 40, ../sass/index.scss */
.btn-default {
  top: 25%;
  left: 25%;
  color: #999;
  background: #fffccc;
}

/* line 48, ../sass/index.scss */
.login {
  float: right;
}

/****** LOGIN MODAL ******/
/* line 64, ../sass/index.scss */
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

/* line 76, ../sass/index.scss */
.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

/* line 82, ../sass/index.scss */
.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

/* line 89, ../sass/index.scss */
.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* line 104, ../sass/index.scss */
.loginmodal-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 112, ../sass/index.scss */
.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
}

/* line 124, ../sass/index.scss */
.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

/* line 136, ../sass/index.scss */
.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

/* line 144, ../sass/index.scss */
.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

/* line 154, ../sass/index.scss */
.login-help {
  font-size: 12px;
}
