{% block content %}

    {{ contentDescription }}

    <div class="container text-center">

        {#UL en LI met LI active class (dynamisch) erbij (zoals slider indicators)?#}

        <!-- Images -->
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive img-gallery" data-toggle="modal" data-target=".bs-example-modal-lg" src="../img/1.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive img-gallery" data-toggle="modal" data-target=".bs-example-modal-lg" src="../img/2.jpg" /></div>
        <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive img-gallery" data-toggle="modal" data-target=".bs-example-modal-lg" src="../img/3.jpg" /></div>

        <!-- Slider popup -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

            <div class="modal-dialog modal-lg">

                <div class="modal-content">

                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active">

                                <img id ="slider-img" class="img-responsive slider-img" src="../img/1.jpg" />
                                {#<div class="carousel-caption">#}
                                {#One Image#}
                                {#</div>#}

                            </div>

                            <div class="item">
                                <img id ="slider-img" class="img-responsive slider-img" src="../img/2.jpg" />
                                {#<div class="carousel-caption">#}
                                {#Another Image#}
                                {#</div>#}

                            </div>

                            <div class="item">
                                <img id ="slider-img" class="img-responsive slider-img" src="../img/3.jpg" />
                                {#<div class="carousel-caption">#}
                                {#Another Image#}
                                {#</div>#}
                            </div>

                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>

                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>
    {{ dump(imageUrl) }}regegr
    <script>












        //        if item.img.src(haal je uit de db) == this.src (Waar je op klikt) (komt altijd overeen met db naam)

//        $('.img-gallery').on('click', function() {

//            $( "#slider-img" ).on( "dialogopen", function( event, ui ) {
//                alert("lol");
//            } );
//
//            var test = $(this).attr('src');

// find all img's without the siteURL, and add it
//            $('#slider-img').each(function(i){
//                if (test )
//            });

//            var sliderImgArray = [];
//            var sliderImg = $('.slider-img').attr('src');
//            sliderImgArray.push(sliderImg);
//            alert(sliderImgArray);
//
//            elem = $('.img-gallery').attr('src');
//
//
////            elem.prop('src', 'test.jpg');
//
////            if this.img.src == sliderSrc
//
//
//
//            var sliderSrc = $("#slider-img[src]")         // find img with ID attribute
//                    .map(function() { return this.src; }) // convert to set of IDs
//                    .get(); // convert to instance of Array (optional)
//
//            alert(sliderSrc);
//
//            if(jQuery.inArray("../public/img/2.jpg", sliderSrc.src)) {
////                alert($(sliderSrc).attr('class'))
//            }
//
//            var clickSliderSrc = $(this).attr('src');
//            alert(clickSliderSrc);
//
//            for (i = 0; i < sliderSrc.length; i++) {
//                if (jQuery.inArray("../public/img/2.jpg", sliderSrc)) {
//                    alert($(sliderSrc).attr('id'));
//                }
//            }




//            if slidersrc contains this attrb src, slidersrc.parent.addclass.active ..

//            if ($(this).attr('src') == IDs) {
//
//            }



//        alert(sliderSrc);
//            for (i = 0; i < sliderSrc.length; i++) {
//            if ($(this).attr('src') == sliderSrc) {
//                $(this).addClass('active');
//                alert("gg");
//            }
//            }
//            });



//            $(this).parent().addClass('active');


//            alert($('.slider-img').attr('src'));
//            $(this).parent().addClass('active');
//
//            if (this.src == sliderImgArray.src) {
//                $(this).parent().addClass('active');
//            }
//        });

    </script>





{% endblock %}